# dependencies
node_modules/

# builds
dist/
.next/
out/
coverage/
*.tsbuildinfo

# env
.env
.env.*
!.env.example

# prisma generated client
apps/api/src/generated/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
Thumbs.db
